/*container*/
.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

/*header*/
.container h4 {
  text-align: center;
}

/*each individual image and author text*/
.img_container {
  border: 3px solid navy;
  margin-bottom: 40px;
}

/*individual image styles*/
img {
  padding: 5px;
  width: 100%;
}

.author {
  margin-bottom: 20px;
  margin-top: 10px;
}